#pragma once

// WiFi credentials
#define WIFI_SSID "YOUR_WIFI_SSID"
#define WIFI_PASSWORD "YOUR_WIFI_PASSWORD"

// Beebotte credentials
#define BEEBOTTE_MQTT_BROKER "mqtt.beebotte.com"
#define BEEBOTTE_MQTT_PORT 1883
#define BEEBOTTE_MQTT_TOKEN "YOUR_BEEBOTTE_TOKEN"
#define BEEBOTTE_CHANNEL "your_channel"
#define BEEBOTTE_RESOURCE "led_control"